<h1>Hosted Events</h1>
    <%= form_with model: @users do |user| %>
        <%= form.label "tittle:"  %>  
        <%= form.text_field :tittle  %> 
        <%= form.label "date:"  %>  
        <%= form.text_field :date  %> 
     <% end %>