    <%= form_with model: @event do |event| %>
        <%= events.label "tittle:"  %>  
        <%= events.text_field :tittle  %> 
        <%= events.label "date:"  %>  
        <%= events.text_field :date  %> 
     <% end %>

     <tbody>
    <% @events.attendees.each do |attendee| %>
        <tr>
        <td><%= attendee.event_attendee_id %></td>
        </tr>
    <% end %>
    </tbody>